<form (ngSubmit)="onSubmit(title.value, textArea.value, form)" #form>
    <app-control lable="Title">
        <label >Title</label>
        <input  name="title" id="title" #title/>
    </app-control>
    <app-control lable="Request">
        <label >Request</label>
        <textarea name="request" id="request" rows="3" #textArea></textarea>
    </app-control>
    <p>
        <button appButton #lableTitle buttonTitle ="submit" buttonIcon="⌲">
            <span class="buttonTitle">
                Submit
            </span>
            <span ngProjectAs="icon">
                ⌲
            </span>
        </button>
    </p>
</form>